<div>
    <table class="lst-table">
        <tr>
            <th class="th-itmlst">Id ({{ .c_itms }})</th> 
            <th class="th-itmlst">{{ index .menutitle 0 }}</th>
            <th class="th-itmlst">{{ index .menutitle 1 }}</th>
            <th class="th-itmlst">{{ index .menutitle 3 }}</th>
            <th class="th-itmlst">{{ index .menutitle 4 }}</th>
            <th class="th-itmlst">Date</th>
            <th class="th-itmlst">Status</th>
            <th></th>
        </tr>
        {{ if .itmsw }}
        {{ range .itmsw }}
        <tr>
            <td class="td-itmlst">{{ .Itmid }}</td>
            <td class="td-itmlst">{{ .Loc }}</td>
            <td class="td-itmlst">{{ .Typ }}</td>
            <td class="td-itmlst">{{ .Serial }}</td>
            <td class="td-itmlst">{{ .Description }}</td>
            <td class="td-itmlst">{{ .Updtime }}</td>
            <td class="td-itmlst">{{ .Sta }}</td>
            <td style="vertical-align: middle;padding: 1px;">
                <div onclick="itmQuickSearch('ID','{{ .Itmid }}')">
                    <img src="/media/info.png" class="menu-img">
                </div>
            </td>
            <input type="hidden" id="itmid{{ .Itmid }}" value="{{ .Itmid }}" />
        </tr>
        {{ end }}
        {{ end }}
    </table>        
</div>

