{{ template "inv_menu.html" . }}
<div id="_div_menu" class="flex-container">
    <!-- <div id="div_neworedit" value="btn"  style="border: 0px;">
        <input type="button" id="_btn_new" class="new-btn" onclick="itmAddNewClick()" value="New item" title="+" />
    </div> -->
    <div id="_div_search" class="div_search" style="border: 0px;">
        ID <input type="search" id="_txtSearchId" placeholder="" class="home-search" onkeydown="setSearch('ID')" />
        {{ index .menutitle 3 }} <input type="search" id="_txtSearchSerial" placeholder="" class="home-search" onkeydown="setSearch('SNR')" />
        <input type="hidden" id="_siteaction" value="SearchId" />
    </div>
    <div style="border: 0px;"></div>
</div>
<div id="div_home">
    <script>
        invHomeClick();
    </script>
</div>

{{ template "footer.html" . }}