{{ template "inv_menu.html" . }}
{{ if ne .itmw.Itmid "0"}}
<input type="hidden" id="_siteaction" value="edit_itm" />
<input type="hidden" id="_isedit" value="false" />
<div class="flex-container">
    <div class="neworedit-header">Edit item {{ .itmw.Itmid }}</div>
</div>
<input type="hidden" id="_itmid" value="{{ .itmw.Itmid }}" />
<div class="flex-container" style="flex-wrap: wrap;">
    <div class="lst-box" style="width: 480px; border: 0px;">
        <div class="lst-box">
        <table>
            <tr>
                <td>
                    <select id="_locsel" class="edit-select" onchange="isEdit()">
                        <option>{{ index .menutitle 0 }}</option>
                        {{ range .locs }}
                            <option value="{{ .Id }}" {{ if eq .Locname $.itmw.Loc }}selected{{ end }}>{{ .Locname }}</option>
                        {{ end }}
                    </select>
                </td>
                <td>
                    <select id="_typsel" class="edit-select" onchange="isEdit()">
                        <option>{{ index .menutitle 1 }}</option>
                        {{ range .typs }}
                            <option value="{{ .Id }}" {{ if eq .Typname $.itmw.Typ }}selected{{ end }}>{{ .Typname }}</option>
                        {{ end }}
                    </select>
                </td>
                <td>
                    <select id="_mansel" class="edit-select" onchange="isEdit()">
                        <option>{{ index .menutitle 2 }}</option>
                        {{ range .mans }}
                            <option value="{{ .Id }}" {{ if eq .Manname $.itmw.Man }}selected{{ end }}>{{ .Manname }}</option>
                        {{ end }}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="div-header">{{ index .menutitle 3 }}</div>
                    <input type="text" id="_itmserial0" class="edit-text" value="{{ .itmw.Serial }}" maxlength="50" onkeydown="isEdit()" />
                </td>
                <td>
                    <div class="div-header">{{ index .menutitle 5 }}</div>
                    <input type="text" id="_itmprice0" class="edit-text" value="{{ .itmw.Price }}" style="width: 80px;" maxlength="20" onkeydown="isEdit()" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="div-header">{{ index .menutitle 4 }}</div>
                    <textarea id="_itmdesc0" maxlength="255" class="edit-desc" onkeydown="isEdit()">{{ .itmw.Description }}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="_itmid0" value="{{ .itmw.Itmid }}" />
                    <input type="hidden" id="_itmserial0" value="{{ .itmw.Serial }}" />
                    <input type="hidden" id="_itmuid0" value="{{ .user.Id }}" />
                    <input type="button" value="Update" class="lst-btn" onclick="itmAddUpdate()" />
                </td>
                <td></td>
                <td>
                    <input type="button" value="Delete" class="lst-btn-del" onclick="itmDelete('{{ .itmw.Itmid }}')" />
                </td>
            </tr>
        </table>
        </div>

        <div class="lst-box" style="margin-top: 8px">
            <div class="td-hist-hisdate" style="border: 0px;">New Status</div>
            <table style="width: 100%;">
                <tr>
                    <td>
                        <select id="_stasel0" class="sta-select">
                            <option value="">Status</option>
                            {{ range .stats }}
                            <option value="{{ .Id }}">{{ .Staname }}</option>
                            {{ end }}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="_comm0" maxlength="255" class="sta-txtarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" id="_uid0" value="{{ .user.Id }}" />
                        <input type="button" value="Add Status" style="width: 160px;" class="lst-btn" onclick="addStatus()" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="flex-container" style="margin-top: 8px;">
            <div class="div-qr">
                <table>
                    <tr>
                        <td>   
                            <input type="hidden" id="_qrimg0" value="/qr_img/{{ .itmw.Itmid }}.png" />
                            <img id="_qrimg" src="/qr_img/{{ .itmw.Itmid }}.png" class="qr-img" /> 
                        </td>
                        <td>
                            <div>
                                <div class="td-hist" style="border: 0px;">{{ .itmw.Typ }}</div>
                                <div class="td-hist" style="border: 0px;">SN {{ .itmw.Serial }}</div>
                                <div class="td-hist" style="border: 0px;">ID {{ .itmw.Itmid }}</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <input type="button" value="Print QR" onclick="imgPrint('_qrimg')" class="lst-btn" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="bar-div">
                <input type="hidden" id="_barimg0" value="/bar_img/{{ .itmw.Itmid }}.png" />
                <img id="_barimg" src="/bar_img/{{ .itmw.Itmid }}.png" class="bar-img" />
                <div class="td-hist" style="border: 0px;">{{ .itmw.Serial }}</div>
                <div>
                    <!-- <input type="hidden" id="_barimg0" value="/bar_img/{{ .itmw.Itmid }}.png" /> -->
                    <input type="button" value="Print barcode" onclick="imgPrint('_barimg')" class="lst-btn" style="width: 120px;" />
                </div>
            </div>
        </div>
    </div>
    <div id="div_itmstatus" style="border: 0px;">
        <div style="width: 250px;">
            <div>
                {{ range .statw }}
                <div class="lst-box" style="margin-top: 3px; padding: 5px;">
                    <table style="width: 100%;">
                        <tr>
                            <td colspan="2" class="td-hist-hisdate" style="text-align: center; border: 0;">{{ .Staname }}</td>                        </tr>
                        <tr>
                            <td class="td-hist" style="border: 0;">📅 {{ .Updated }}</td>
                            {{ if ne .Staid 1212090603 }}
                            <input type="hidden" id="_staid0" value="{{ .Staid }}" />
                            <td class="td-hist" style="border: 0; cursor: pointer; text-align: right;" title="Delete" onclick="delStatus('{{ .Id }}')">🆑</td>
                            {{ end }}
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="td-hist" style="border: 0;">👨‍⚕️ {{ .Uid }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="td-hist" style="border: 0;">{{ .Comment }}</td>
                        </tr>
                    </table>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<script>
    setFocus();
</script>
{{ else }}
<div class="neworedit-header">Item not found</div>
{{ end }}
{{ template "footer.html" . }}
