{{ template "inv_menu.html" . }}
<input type="hidden" id="_siteaction" value="edit_itm" />
<input type="hidden" id="_isedit" value="false" />

<div class="neworedit-header">New item</div>
<div class="lst-box" style="width: 480px;">
    <table>
        <tr>
            <td>
                <select id="_locsel" class="edit-select"  onchange="isEdit()">
                    <option value="">Select {{ index .menutitle 0 }}</option>
                    {{ if .locs }}
                    {{ range .locs }}
                    <option value="{{ .Id }}">{{ .Locname }}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </td>
            <td>
                
                <select id="_typsel" class="edit-select"  onchange="isEdit()">
                    <option value="">Select {{ index .menutitle 1 }}</option>
                    {{ if .typs }}
                    {{ range .typs }}
                    <option value="{{ .Id }}">{{ .Typname }}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </td>
            <td>
                
                <select id="_mansel" class="edit-select"  onchange="isEdit()">
                    <option value="">Select {{ index .menutitle 2 }}</option>
                    {{ if .mans }}
                    {{ range .mans }}
                    <option value="{{ .Id }}">{{ .Manname }}</option>
                    {{ end }}
                    {{ end }}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="div-header">Description</div>
                <textarea id="_itmdesc0" maxlength="255" class="edit-desc" onkeydown="isEdit()">NIL</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <div class="div-header">Price</div>
                <input type="text" id="_itmprice0" class="edit-text" value="0" style="width: 80px;" onkeydown="isEdit()" />
            </td>
            <td>
                <div class="div-header">Serial</div>
                <input type="text" id="_itmserial0" class="edit-text" placeholder="Serial" tabindex="0" onkeydown="isEdit()" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" id="_itmid0" value="0" />
                <input type="hidden" id="_stasel" value="1" />
                <input type="hidden" id="_itmuid0" value="{{ .user.Id }}" />
                <input type="button" value="Add New" class="lst-btn" style="margin-top:5px;" onclick="itmAddUpdate()" />
            </td>
        </tr>
    </table>
</div>

<script>
    setFocus();
</script>

{{ template "footer.html" . }}