{{ template "inv_menu.html" . }}
{{ if ne .itmw.Itmid "0"}}
<input type="hidden" id="_siteaction" value="edit_itm" />
<input type="hidden" id="_isedit" value="false" />
<div class="flex-container">
    <div class="neworedit-header">Edit item {{ .itmw.Itmid }}</div>
</div>
<input type="hidden" id="_itmid" value="{{ .itmw.Itmid }}" />
<div class="flex-container">
    <div class="lst-box" style="width: 480px;">
        <table>
            <tr>
                <td>
                    <select id="_locsel" class="edit-select" onchange="isEdit()"  >
                        <option>Select Location</option>
                        {{ if .locs }}
                            {{ range .locs }}
                            {{ if eq .Locname $.itmw.Loc }}
                                <option value="{{ .Id }}" selected>{{ .Locname }}</option>
                            {{ else }}
                                <option value="{{ .Id }}">{{ .Locname }}</option>
                            {{ end }}
                            {{ end }}
                        {{ end }}
                    </select>
                    
                </td>
                <td>
                    
                    <select id="_typsel" class="edit-select" onchange="isEdit()">
                        <option>Select Type</option>
                        {{ if .typs }}
                        {{ range .typs }}
                        {{ if eq .Typname $.itmw.Typ }}
                                <option value="{{ .Id }}" selected>{{ .Typname }}</option>
                            {{ else }}
                            <option value="{{ .Id }}">{{ .Typname }}</option>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </select>
                </td>
                <td>
                    <select id="_mansel" class="edit-select" onchange="isEdit()">
                        <option>Select Manufact</option>
                        {{ if .mans }}
                        {{ range .mans }}
                        {{ if eq .Manname $.itmw.Man }}
                                <option value="{{ .Id }}" selected>{{ .Manname }}</option>
                            {{ else }}
                            <option value="{{ .Id }}">{{ .Manname }}</option>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="div-header">Serial</div>
                    <input type="text" id="_itmserial0" class="edit-text" value="{{ .itmw.Serial }}" maxlength="50" onkeydown="isEdit()" />
                </td>
                <td>
                    <div class="div-header">Price</div>
                    <input type="text" id="_itmprice0" class="edit-text" value="{{ .itmw.Price }}" style="width: 80px;" maxlength="20" onkeydown="isEdit()" />
                </td>
            </tr>
                <td colspan="3">
                    <div class="div-header">Description</div>
                    <textarea id="_itmdesc0" maxlength="255" class="edit-desc" onkeydown="isEdit()">{{ .itmw.Description }}</textarea>
                </td>
            <tr>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="_itmid0" value="{{ .itmw.Itmid }}" />
                    <input type="hidden" id="_itmuid0" value="{{ .user.Id }}" />
                    <input type="button" value="Update" class="lst-btn" onclick="itmAddUpdate()" />
                </td>
                <td style="width: auto;"></td>
                <td>
                    <input type="button" value="Delete" class="lst-btn-del" onclick="itmDelete('{{ .itmw.Itmid }}')" />
                </td>
                
            </tr>
        </table>
    
        <div class="flex-container" >
            <div>
                <table>
                    <tr>
                        <td>
                            <div class="div-qr">
                                <input type="hidden" id="_qrimg0" value="/qrimg/{{ .itmw.Itmid }}.png" />
                                <img id="_qrimg" src="/qrimg/{{ .itmw.Itmid }}.png" class="qr-img" />
                            </div>
                        </td>
                    </tr>
                    <tr>            
                        <td style="text-align: center;">
                            <input type="button" value="Print" onclick="itmPrintQrClick()" class="lst-btn" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="td-hist" style="border: 0px;">ID {{ .itmw.Itmid }}</div>
                <div class="td-hist" style="border: 0px;">SNR {{ .itmw.Serial }}</div>
                <div class="td-hist" style="border: 0px;">{{ .itmw.Typ }}</div>
                
            </div>
        </div>
    </div>
    <div id="div_itmstatus" style="border: 0px;">
        <div style="width: 250px;">
            <div >
                {{ if .statw }}
                {{ range .statw }}
                <div class="lst-box" style="margin-top: auto;">
                    <table style="width: 100%;">
                        <tr>
                            <td  colspan="2">
                                <div class="td-hist-hisdate">📅 {{ .Updated }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-hist">:{{ .Staname }}</td>
                            <td class="td-hist">👨‍⚕️ {{ .Uid }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="td-hist">{{ .Comment }}</td>
                        </tr>
                        
                    </table>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <div class="lst-box">
                <div class="td-hist-hisdate" style="border: 0px;">Add New Status</div>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <select id="_stasel" class="sta-select">
                                <option value="">Select Status</option>
                                {{ if .stats }}
                                {{ range .stats }}
                                <option value="{{ .Id }}">{{ .Staname }}</option>
                                {{ end }}
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="_stacom0" maxlength="255" class="sta-txtarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="_uid0" value="{{ .user.Id }}" />
                            <input type="button" value="Add Status" class="lst-btn" style="width: 100%;" onclick="staAddStatusHist('{{ .itmw.Itmid }}')" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    setFocus();
</script>
{{ else }}
<div class="neworedit-header">Item not found</div>
{{ end }}

{{ template "footer.html" . }}