body {
    background-color: whitesmoke;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.th-itmlst, .btn-hist, .hist-head, .qr-print-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

.th-itmlst {
    padding: 3px;
    text-align: left;
    font-family: monospace;
}

.td-itmlst, .td-hist, .td-hist-hisdate {
    padding: 1px;
    border: 1px solid black;
    vertical-align: middle;
    font-family: monospace;
}

.td-hist-hisdate {
    font-weight: bold;
}

.btn-hist:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 8px;
    background-color: transparent;
    border: 0px solid black;
}

.flex-container > div {
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
}

.div-new, .neworedit-header, .div-header, .div_search {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    text-align: left;
}

.neworedit-header, .div-header, .div_search {
    font-weight: bold;
}

.neworedit-header {
    margin-top: 2px;
    width: 300px;
}

.div-header {
    font-family: monospace;
    width: 80%;
}

.div_search {
    width: 70%;
    text-align: center;
}

.qr-img {
    width: 100px;
    height: 100px;
    padding: 0px;
    border: 0px;
    margin-top: 5px;
}

.div-qr {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.qr-print {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.qr-print-btn {
    width: 80px;
    height: 30px;
}

.div_neworedit, .div_search {
    background-color: transparent;
    margin: 0px;
}

.new-btn {
    padding: 0px;
    border-radius: 5px;
    background-color: rgb(42, 170, 42);
    color: black;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    width: 100px;
    height: 100%;
}

.footer {
    background: black;
    color: lightgrey;
    font-family: monospace;
    font-size: 10px;
    padding: 0px 5px;
    width: 99%;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
}

a {
    color: lightgrey;
    text-decoration: none;
}

.bar-div {
    padding: 2px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
}

.bar-img {
    width: 200px;
    height: 35px;
    padding: 0px;
    border: 0px;
    margin-top: 5px;
}
