
.lst-text {
    
    margin-top: 2px;
    margin-bottom: 5px;
    
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    
    width: 150px;
    height: 20px;
    
}

.lst-box {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    
    border: 2px solid black;
    
}

.lst-btn {
    margin-top: auto;
    margin-bottom: 5px;
    
    
    width: 100%;
    height: 25px;
    
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    background: black;
    color: white;
    
}
.lst-btn:hover {
    background: white;
    color: black;
}

.lst-btn-del {
    margin-top: auto;
    margin-bottom: 5px;
    
    width: 100%;
    height: 25px;
    
    border: 1px solid red;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    background: red;
    color: white;
    
}
.lst-btn-del:hover {
    background: white;
    color: red;
    font-weight: bold;
}

.tools-select {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    background: white;

    width: 150px;
    
}

.edit-select {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    background: white;

    width: 150px;
    
}

.edit-text {
    
    margin-top: 2px;
    
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    
    width: 150px;
    height: 20px;
    
}

.edit-desc {
    
    margin: 2px;
    
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    
    width: 98%;
    height: fit-content;

    overflow: scroll;
    overflow-wrap: normal;

}

.sta-select {
    margin-top: auto;
    margin-bottom: 5px;
    
    
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    
}

.sta-txtarea {
    margin-top: auto;
    margin-bottom: 5px;
    
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    
    height: 60px;
    width: 100%;
    
}

.stat-header {
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: black;

    font-weight: bold;
    font-family: monospace;
}

.stat-item {
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    color: black;

    font-family: monospace;
    width: 200px;

    padding-left: 20px;
}

.stat-info {
    padding: 3px;
    
    background-color: transparent;
    color: black;

    font-family: monospace;
    font-weight: bold;
   

    
}