.menu-flex-container,
.menubox,
.err-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(50, 49, 49);
    border: 2px solid transparent;
}

.menu-img {
    width: 20px;
    height: 20px;
}

.menubutton,
.menubutton-info {
    border: 1px solid white;
    color: white;
    padding: 5px;
    margin-right: 5px;
    vertical-align: middle;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
}

.menubutton:hover {
    background-color: white;
    color: black;
}

.menubutton-info {
    border: 1px solid transparent;
}

.err-container {
    color: red;
    text-align: center;
}

.alert {
    padding: 0px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: medium;
}

.alert-danger {
    background-color: red;
    padding: 5px;
}

.alert-success {
    background-color: green;
    padding: 5px;
}

.alert-info {
    background-color: rgb(0, 81, 255);
    padding: 5px;
}

.menu-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 2px;
}

.menubox-user {

    color: grey;
    border: 2px solid transparent;
    font-family: monospace;
    
    margin-top: 4px;
}

.menubtn-new {
    
    border: 0px solid rgb(42, 170, 42);
    width: 100%;
    text-align: center;

}